In [1]:
import pandas as pd 
from bs4 import BeautifulSoup
import requests
import warnings
from selenium import webdriver
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException
import time

1. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [2]:
#lets first connect the driver
driver1=webdriver.Chrome("chromedriver.exe")
driver1.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [3]:
Rank=[]
Video_Name=[]
Artist=[]
Date=[]
Views=[]
# scraping Rank of the videos
try:
    for i in driver1.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text.split('.')[0])
except NoSuchElementException:
    Rank.append("-")
# Scraping Name of the videos
try:
    for i in driver1.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Video_Name.append(i.text.split('"')[1])
except NoSuchElementException:
    Video_Name.append("-")
# Scraping Artist of the videos
try:
    for i in driver1.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")
# Scraping Upload_Date of the videos
try:
    for i in driver1.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")
# Scraping Views of the videos
try:
    for i in driver1.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [4]:
len(Rank),len(Video_Name),len(Artist),len(Date),len(Views)

(30, 30, 30, 30, 30)

In [5]:
df=pd.DataFrame({'Rank':Rank,'Video_Name':Video_Name,'Artist':Artist,'Upload Date':Date,'Views(In Billions)':Views})
df

,Rank,Video_Name,Artist,Upload Date,Views(In Billions)
0,1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.27
1,2,Despacito,Luis Fonsi,"January 12, 2017",8.08
2,3,Johny Johny Yes Papa,LooLoo Kids,"October 8, 2016",6.61
3,4,Bath Song,Cocomelon ‚Äì Nursery Rhymes,"May 2, 2018",6.01
4,5,Shape of You,Ed Sheeran,"January 30, 2017",5.91
5,6,See You Again,Wiz Khalifa,"April 6, 2015",5.78
6,7,Phonics Song with Two Words,ChuChu TV,"March 6, 2014",5.15
7,8,Wheels on the Bus,Cocomelon ‚Äì Nursery Rhymes,"May 24, 2018",4.92
8,9,Uptown Funk,Mark Ronson,"November 19, 2014",4.83
9,10,Learning Colors ‚Äì Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",4.81
10,11,Gangnam Style,Psy,"July 15, 2012",4.69
11,12,Masha and the Bear ‚Äì Recipe for Disaster,Get Movies,"January 31, 2012",4.53
12,13,Dame Tu Cosita,El Chombo,"April 5, 2018",4.23
13,14,Sugar,Maroon 5,"January 14, 2015",3.82
14,15,Axel F,Crazy Frog,"June 16, 2009",3.75
15,16,Roar,Katy Perry,"September 5, 2013",3.73
16,17,Counting Stars,OneRepublic,"May 31, 2013",3.72
17,18,Sorry,Justin Bieber,"October 22, 2015",3.63
18,19,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.55
19,20,Baa Baa Black Sheep,Cocomelon ‚Äì Nursery Rhymes,"June 25, 2018",3.49
20,21,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.47
21,22,Dark Horse,Katy Perry,"February 20, 2014",3.45
22,23,Faded,Alan Walker,"December 3, 2015",3.40
23,24,Let Her Go,Passenger,"July 25, 2012",3.38
24,25,Girls Like You,Maroon 5,"May 31, 2018",3.37
25,26,Perfect,Ed Sheeran,"November 9, 2017",3.37
26,27,Bailando,Enrique Iglesias,"April 11, 2014",3.33
27,28,Lean On,Major Lazer,"March 22, 2015",3.33
28,29,Humpty the train on a fruits ride,Kiddiestv Hindi ‚Äì Nursery Rhymes & Kids Songs,"January 26, 2018",3.30
29,30,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.30

2. Scrape the details team India‚Äôs internationalfixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1stODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [6]:
#getting the specified url
driver2=webdriver.Chrome("chromedriver.exe")
driver2.get("https://www.bcci.tv/")

In [7]:
driver2.find_element(By.XPATH,'//li[@class="nav-item"]').click()
driver2.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[1]/div/div[1]').click()
search = driver2.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div/div/div[2]/div[2]/div/div[1]/div/div[2]/div[1]')

In [8]:
match = []
series = []
place = []
date = []
time = []
try:
    for i in driver2.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
        match.append(i.text)
except NoSuchElementException:
    match.append("-")
    
try:
    for i in driver2.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
        series.append(i.text.split(' -')[0])
except NoSuchElementException:
    series.append("-")
    
try:
    for i in driver2.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]'):
        place.append(i.text.split('- ')[1])
except NoSuchElementException:
    place.append("-")
    
try:
    for i in driver2.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
        date.append(i.text)
except NoSuchElementException:
    date.append("-")
try:
    for i in driver2.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
        time.append(i.text)
except NoSuchElementException:
    time.append("-")

In [9]:
len(match),len(series),len(place),len(date),len(time)

(8, 8, 8, 8, 8)

In [10]:
df = pd.DataFrame({'Match Title':match,'Series':series,'Venue':place,'Date':date,'time':time})
df

,Match Title,Series,Venue,Date,time
0,ICC WOMENS T20 WORLD CUP 2023,1st T20I,"Newlands, Cape Town",12 FEB 2023,6:30 PM IST
1,ICC WOMENS T20 WORLD CUP 2023,2nd T20I,"Newlands, Cape Town",15 FEB 2023,6:30 PM IST
2,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,2nd Test,"Arun Jaitley Stadium, Delhi",17 FEB 2023,9:30 AM IST
3,ICC WOMENS T20 WORLD CUP 2023,3rd T20I,"St George's Park, Gqeberha",18 FEB 2023,6:30 PM IST
4,ICC WOMENS T20 WORLD CUP 2023,4th T20I,"St George's Park, Gqeberha",20 FEB 2023,6:30 PM IST
5,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,3rd Test,"Himachal Pradesh Cricket Association Stadium, ...",1 MAR 2023,9:30 AM IST
6,AUSTRALIA TOUR OF INDIA TEST SERIES 2022-23,4th Test,"Narendra Modi Stadium, Ahmedabad",9 MAR 2023,9:30 AM IST
7,AUSTRALIA TOUR OF INDIA ODI SERIES 2022-23,1st ODI,"Wankhede Stadium, Mumbai",17 MAR 2023,1:30 PM IST

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [11]:
#getting the specified url
driver3=webdriver.Chrome("chromedriver.exe")
driver3.get("http://statisticstimes.com/")

In [13]:
driver3.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()
driver3.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]').click()
driver3.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

In [14]:
rank=[]
state=[]
gsdp_18=[]
gsdp_19=[]
share=[]
gdp=[]
#for rank
try:
    for i in driver3.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]'):
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")
#for state
try:
    for i in driver3.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]'):
        state.append(i.text)
except NoSuchElementException:
    state.append("-")
#for gsdp_18-19
try:
    for i in driver3.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]'):
        gsdp_18.append(i.text)
except NoSuchElementException:
    gsdp_18.append("-")
#for gsdp_19-20
try:
    for i in driver3.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]'):
        gsdp_19.append(i.text)
except NoSuchElementException:
    gsdp_19.append("-")
#for share
try:
    for i in driver3.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]'):
        share.append(i.text)
except NoSuchElementException:
    share.append("-")
#for gdp
try:
    for i in driver3.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]'):
        gdp.append(i.text)
except NoSuchElementException:
    gdp.append("-")

In [15]:
df=pd.DataFrame({'Rank':rank[0:33],'State':state[0:33],'GSDP(18-19)':gsdp_18[0:33],'GSDP(19-20)':gsdp_19[0:33],'Share':share[0:33],'GDP':gdp[0:33]})
df

   Rank                      State GSDP(18-19) GSDP(19-20)   Share      GDP
0     1                Maharashtra   2,632,792           -  13.94%  399.921
1     2                 Tamil Nadu   1,630,208   1,845,853   8.63%  247.629
2     3              Uttar Pradesh   1,584,764   1,687,818   8.39%  240.726
3     4                    Gujarat   1,502,899           -   7.96%  228.290
4     5                  Karnataka   1,493,127   1,631,977   7.91%  226.806
5     6                West Bengal   1,089,898   1,253,832   5.77%  165.556
6     7                  Rajasthan     942,586   1,020,989   4.99%  143.179
7     8             Andhra Pradesh     862,957     972,782   4.57%  131.083
8     9                  Telangana     861,031     969,604   4.56%  130.791
9    10             Madhya Pradesh     809,592     906,672   4.29%  122.977
10   11                     Kerala     781,653           -   4.14%  118.733
11   12                      Delhi     774,870     856,112   4.10%  117.703
12   13                    Haryana     734,163     831,610   3.89%  111.519
13   14                      Bihar     530,363     611,804   2.81%   80.562
14   15                     Punjab     526,376     574,760   2.79%   79.957
15   16                     Odisha     487,805     521,275   2.58%   74.098
16   17                      Assam     315,881           -   1.67%   47.982
17   18               Chhattisgarh     304,063     329,180   1.61%   46.187
18   19                  Jharkhand     297,204     328,598   1.57%   45.145
19   20                Uttarakhand     245,895           -   1.30%   37.351
20   21            Jammu & Kashmir     155,956           -   0.83%   23.690
21   22           Himachal Pradesh     153,845     165,472   0.81%   23.369
22   23                        Goa      73,170      80,449   0.39%   11.115
23   24                    Tripura      49,845      55,984   0.26%    7.571
24   25                 Chandigarh      42,114           -   0.22%    6.397
25   26                 Puducherry      34,433      38,253   0.18%    5.230
26   27                  Meghalaya      33,481      36,572   0.18%    5.086
27   28                     Sikkim      28,723      32,496   0.15%    4.363
28   29                    Manipur      27,870      31,790   0.15%    4.233
29   30                   Nagaland      27,283           -   0.14%    4.144
30   31          Arunachal Pradesh      24,603           -   0.13%    3.737
31   32                    Mizoram      22,287      26,503   0.12%    3.385
32   33  Andaman & Nicobar Islands           -           -       -        -

4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [16]:
#getting the specified url
driver4=webdriver.Chrome("chromedriver.exe")
driver4.get("https://github.com/")

In [17]:
driver4.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button').click()
driver4.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a').click()

In [19]:
rep_title=[]
url=[]
rep_desc=[]
contributors=[]
lang_used=[]
#for Repository Title
try:
    for i in driver4.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]'):
        rep_title.append(i.text)
except NoSuchElementException:
    rep_title.append("-")
#fetching urls for each repository
repository = driver4.find_elements(By.XPATH,"//h1[@class='h3 lh-condensed']//a")
for i in repository:
    url.append(i.get_attribute("href"))
# scraping data from all repository page
for i in url:
    driver4.get(i)
    
    # scraping Repository Description data 
    try:
        desc = driver4.find_element(By.XPATH,"//p[@class='f4 my-3']")
        rep_desc.append(desc.text)
    except NoSuchElementException:
        rep_desc.append('-')
        
    # scraping contributors count
    try:
        count = driver4.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/main/turbo-frame/div/div/div/div[3]/div[2]/div/div[5]/div/h2/a/span")
        contributors.append(count.text)
    except NoSuchElementException:
        contributors.append('-')
    except NameError:
        contributors.append('-')
    
    #scraping language used
    try:
        language=driver4.find_element(By.XPATH,'//a[@class="d-inline-flex flex-items-center flex-nowrap Link--secondary no-underline text-small mr-3"]')
        lang_used.append(language.text.replace('\n','-'))
    except NoSuchElementException:
        lang_used.append('-')

In [20]:
df=pd.DataFrame({'Title':rep_title,'Descrition':rep_desc,'Contributors Count':contributors,'Language Used':lang_used})
df

,Title,Descrition,Contributors Count,Language Used
0,acikkaynak / deprem-yardim-backend-go,-,-,Go-98.9%
1,cloudflare / wildebeest,Wildebeest is an ActivityPub and Mastodon-comp...,-,TypeScript-97.2%
2,jaymody / picoGPT,An unnecessarily tiny and minimal implementati...,-,Python-100.0%
3,eliaszon / Programmers-Overseas-Job-Interview-...,üèÇüèª Á®ãÂ∫èÂëòÊµ∑Â§ñÂ∑•‰Ωú/Ëã±ÊñáÈù¢ËØïÊâãÂÜå,-,-
4,uutils / coreutils,Cross-platform Rust rewrite of the GNU coreutils,351,Rust-98.5%
5,rustdesk / rustdesk,Open source virtual / remote desktop infrastru...,156,Rust-63.1%
6,MichalGeyer / plug-and-play,Official Pytorch Implementation for ‚ÄúPlug-and-...,-,Python-100.0%
7,pedroslopez / whatsapp-web.js,A WhatsApp client library for NodeJS that conn...,84,JavaScript-99.3%
8,djun / wechatbot,‰∏∫‰∏™‰∫∫ÂæÆ‰ø°Êé•ÂÖ•ChatGPT,-,Go-100.0%
9,fuergaosi233 / wechat-chatgpt,Use ChatGPT On Wechat via wechaty,-,TypeScript-94.9%
10,TheD1rkMtr / FilelessPELoader,"Loading Remote AES Encrypted PE in memory , De...",-,C++-95.6%
11,eryajf / chatgpt-dingtalk,ChatGPTÊú∫Âô®‰∫∫Âú®ÈíâÈíâÁæ§ËÅä‰∏≠‰∫§‰∫í,-,Go-94.5%
12,aquasecurity / trivy,"Find vulnerabilities, misconfigurations, secre...",279,Go-98.1%
13,ethereum-optimism / op-analytics,"On-Chain Data, Utilities, References, and othe...",-,-
14,nerfstudio-project / nerfstudio,A collaboration friendly studio for NeRFs,75,Python-84.0%
15,AIGCT / EASYChatGPT,"This is an application project of 'chatgpt',on...",-,Python-100.0%
16,leminlimez / Cowabunga,iOS 14.0-15.7.1 & 16.0-16.1.2 MacDirtyCow ToolBox,-,Swift-79.1%
17,PlexPt / chatgpt-java,ChatGPT Java SDK. Lightweight package for inte...,-,Java-100.0%
18,Shopify / hydrogen,Hydrogen is Shopify‚Äôs stack for headless comme...,-,TypeScript-95.6%
19,Fndroid / clash_for_windows_pkg,A Windows/macOS GUI based on Clash,-,-
20,f / awesome-chatgpt-prompts,This repo includes ChatGPT prompt curation to ...,-,HTML-100.0%
21,enhuiz / vall-e,An unofficial PyTorch implementation of the au...,-,Python-99.9%
22,zhayujie / chatgpt-on-wechat,‰ΩøÁî®ChatGPTÊê≠Âª∫ÂæÆ‰ø°ËÅäÂ§©Êú∫Âô®‰∫∫ÔºåÂü∫‰∫éOpenAI APIÂíåitchatÂÆûÁé∞„ÄÇWecha...,-,Python-100.0%
23,Leizhenpeng / feishu-chatGpt,Feishu ChatGpt Âú®È£û‰π¶‰∏ä‰∏éChatGPTÈöèÊó∂ÂØπËØù~,-,Go-96.9%
24,activepieces / activepieces,No-code Business Automation Tool. An open sour...,-,TypeScript-81.1%

5. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [21]:
#getting the specified url
driver5=webdriver.Chrome("chromedriver.exe")
driver5.get("http://www.billboard.com")

In [22]:
driver5.find_element(By.XPATH,"/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a").click()
driver5.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a").click()

In [23]:
song = []
artist = []
total_last = []
total_peak = []
weeks = []
for i in driver5.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[1]/h3'):
    song.append(i.text)
    
for i in driver5.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[1]/span'):
    artist.append(i.text)
    
for i in driver5.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[4]/span'):
    total_last.append(i.text)

last = total_last[::2]
    
for i in driver5.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[5]/span'):
    total_peak.append(i.text)
    
peak = total_peak[::2]
    
for i in driver5.find_elements(By.XPATH,'//div[@class="o-chart-results-list-row-container"]//ul//li//ul//li[6]/span'):
    weeks.append(i.text)

In [24]:
df=pd.DataFrame({'Song Name':song,'Artist Name':artist,'Last Week Rank':last,'Peak Rank':peak,'Weeks on Board':weeks})
df

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
0,Flowers,Miley Cyrus,1,1,3
1,Kill Bill,SZA,2,2,8
2,Creepin',"Metro Boomin, The Weeknd & 21 Savage",4,3,9
3,Anti-Hero,Taylor Swift,3,1,15
4,Unholy,Sam Smith & Kim Petras,5,1,19
...,...,...,...,...,...
95,Hey Mor,Ozuna Featuring Feid,-,96,1
96,Gato de Noche,Nengo Flow & Bad Bunny,85,60,6
97,Heart To Heart,Mac DeMarco,83,83,3
98,Never Gonna Not Dance Again,P!nk,-,99,1
99,Dancin' In The Country,Tyler Hubbard,-,100,1

6. Scrape the details of Highest sellingnovels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [25]:
#getting the specified url
driver6=webdriver.Chrome("chromedriver.exe")
driver6.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [27]:
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

for i in driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]'):
    Book_name.append(i.text)
for i in driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]'):
    Author_name.append(i.text)
for i in driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]'):
    Volumes_sold.append(i.text)
for i in driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]'):
    Publisher.append(i.text)
for i in driver6.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]'):
    Genre.append(i.text)

In [28]:
df=pd.DataFrame({'Book':Book_name,
                'Author':Author_name,
                'Volumes Sold':Volumes_sold,
                'Publisher':Publisher,
                'Genre':Genre})
df

,Book,Author,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [29]:
#getting the specified url
driver7=webdriver.Chrome("chromedriver.exe")
driver7.get("https://www.imdb.com/list/ls095964455/")

In [30]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []
# scraped data of Names
for i in driver7.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)
    
    
# scraped data of Year span
for i in driver7.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)
    
    
# scraped data of Genre
for i in driver7.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)
    
    
# scraped data of Run time
for i in driver7.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)
    
    
# scraped data of Ratings
for i in driver7.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)
    
    
# scraped data of Votes
for i in driver7.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [31]:
df=pd.DataFrame({'Name':Name,
                'Year Span':Year_span,
                'Genre':Genre,
                'Run Time':Run_time,
                'Ratings':Ratings,
                'Votes':Votes})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011‚Äì2019),"Action, Adventure, Drama",57 min,9.2,"2,123,520"
1,Stranger Things,(2016‚Äì2024),"Drama, Fantasy, Horror",51 min,8.7,"1,211,378"
2,The Walking Dead,(2010‚Äì2022),"Drama, Horror, Thriller",44 min,8.1,"1,007,194"
3,13 Reasons Why,(2017‚Äì2020),"Drama, Mystery, Thriller",60 min,7.5,"297,170"
4,The 100,(2014‚Äì2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"256,105"
...,...,...,...,...,...,...
95,Reign,(2013‚Äì2017),Drama,42 min,7.4,"50,742"
96,A Series of Unfortunate Events,(2017‚Äì2019),"Adventure, Comedy, Drama",50 min,7.8,"62,628"
97,Criminal Minds,(2005‚Äì ),"Crime, Drama, Mystery",42 min,8.1,"203,005"
98,Scream: The TV Series,(2015‚Äì2019),"Comedy, Crime, Drama",45 min,7.1,"42,052"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"250,831"

8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [32]:
#getting the specified url
driver8=webdriver.Chrome("chromedriver.exe")
driver8.get("https://archive.ics.uci.edu/")

In [33]:
driver8.find_element(By.XPATH,"/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b").click()

In [34]:
table_data=[]
for i in driver8.find_elements(By.XPATH,'//p[@class="normal"]'):
    table_data.append(i.text)

In [35]:
Data_name = table_data[8:4362:7]
Data_type = table_data[9:4363:7]
Task = table_data[10:4363:7]
Attr_type = table_data[11:4363:7]
Instances = table_data[12:4363:7]
n_attributes = table_data[13:4363:7]
Year = table_data[14:4363:7]

In [36]:
df=pd.DataFrame({'Data Name':Data_name,
                  'Data Type':Data_type,
                  'Task':Task,
                  'Attribute type':Attr_type,
                  'No of instance':Instances,
                  'No of attributes':n_attributes,
                  'Year':Year})

df

,Data Name,Data Type,Task,Attribute type,No of instance,No of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021